@keyframes px-bounce-in-right {
  0% { opacity: 0; transform: translateX(3000px); }
  50% { opacity: 1; transform: translateX(-25px); }
  70% { transform: translateX(10px); }
  90% { transform: translateX(-5px); }
  100% { opacity: 1; transform: translateX(0); }
}

.px-bounce-in-right {
  animation-name: px-bounce-in-right;
}
