@keyframes px-fade-in-left {
  0% { opacity: 0; transform: translate3d(-var(--px-distance-md), 0, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

.px-fade-in-left {
  animation-name: px-fade-in-left;
}
