@keyframes px-fade-zoom-in-down-pop {
  0% { opacity: 0; transform: scale3d(var(--px-scale-pop), var(--px-scale-pop), var(--px-scale-pop)); }
  100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

.px-fade-zoom-in-down-pop {
  animation-name: px-fade-zoom-in-down-pop;
}
