@keyframes px-fade-slide-in-down-sm {
  0% { opacity: 0; transform: translate3d(0, var(--px-distance-sm), 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

.px-fade-slide-in-down-sm {
  animation-name: px-fade-slide-in-down-sm;
}
