@keyframes px-slide-in-down-right {
  0% { transform: translate3d(var(--px-distance-md), var(--px-distance-md), 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.px-slide-in-down-right {
  animation-name: px-slide-in-down-right;
}
