@keyframes px-slide-in-up-lg {
  0% { transform: translate3d(0, -var(--px-distance-lg), 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.px-slide-in-up-lg {
  animation-name: px-slide-in-up-lg;
}
