@keyframes px-scale-in-left-pop {
  0% { transform: scale3d(var(--px-scale-pop), var(--px-scale-pop), var(--px-scale-pop)) translate3d(-var(--px-distance-md), 0, 0); }
  100% { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
}

.px-scale-in-left-pop {
  animation-name: px-scale-in-left-pop;
}
