@keyframes px-slide-in-left-lg {
  0% { transform: translate3d(-var(--px-distance-lg), 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.px-slide-in-left-lg {
  animation-name: px-slide-in-left-lg;
}
