@keyframes px-fade-zoom-out-pop {
  0% { opacity: 1; transform: scale3d(1, 1, 1); }
  100% { opacity: 0; transform: scale3d(var(--px-scale-pop), var(--px-scale-pop), var(--px-scale-pop)); }
}

.px-fade-zoom-out-pop {
  animation-name: px-fade-zoom-out-pop;
}
