@keyframes px-fade-out-right-sm {
  0% { opacity: 1; transform: translate3d(0, 0, 0); }
  100% { opacity: 0; transform: translate3d(var(--px-distance-sm), 0, 0); }
}

.px-fade-out-right-sm {
  animation-name: px-fade-out-right-sm;
}
