@keyframes px-fade-zoom-out-down-lg {
  0% { opacity: 1; transform: scale3d(1, 1, 1); }
  100% { opacity: 0; transform: scale3d(var(--px-scale-lg), var(--px-scale-lg), var(--px-scale-lg)); }
}

.px-fade-zoom-out-down-lg {
  animation-name: px-fade-zoom-out-down-lg;
}
