@keyframes px-fade-zoom-out-right {
  0% { opacity: 1; transform: scale3d(1, 1, 1); }
  100% { opacity: 0; transform: scale3d(var(--px-scale-md), var(--px-scale-md), var(--px-scale-md)); }
}

.px-fade-zoom-out-right {
  animation-name: px-fade-zoom-out-right;
}
