@keyframes px-rotate-y-out-lg {
  0% { opacity: 1; transform: rotateY(0deg); }
  100% { opacity: 0; transform: rotateY(var(--px-rotate-lg)); }
}

.px-rotate-y-out-lg {
  animation-name: px-rotate-y-out-lg;
}
