@keyframes px-rotate-out-lg {
  0% { opacity: 1; transform: rotateZ(0deg); }
  100% { opacity: 0; transform: rotateZ(var(--px-rotate-lg)); }
}

.px-rotate-out-lg {
  animation-name: px-rotate-out-lg;
}
