@keyframes px-scale-out-pop {
  0% { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { transform: scale3d(var(--px-scale-pop), var(--px-scale-pop), var(--px-scale-pop)); }
}

.px-scale-out-pop {
  animation-name: px-scale-out-pop;
}
