@keyframes px-slide-out-up-right-lg {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(var(--px-distance-lg), -var(--px-distance-lg), 0); }
}

.px-slide-out-up-right-lg {
  animation-name: px-slide-out-up-right-lg;
}
