@keyframes px-scale-out-up-lg {
  0% { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { transform: scale3d(var(--px-scale-lg), var(--px-scale-lg), var(--px-scale-lg)) translate3d(0, -var(--px-distance-md), 0); }
}

.px-scale-out-up-lg {
  animation-name: px-scale-out-up-lg;
}
