@keyframes px-scale-out-right-sm {
  0% { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { transform: scale3d(var(--px-scale-sm), var(--px-scale-sm), var(--px-scale-sm)) translate3d(var(--px-distance-md), 0, 0); }
}

.px-scale-out-right-sm {
  animation-name: px-scale-out-right-sm;
}
