@keyframes px-scale-out {
  0% { transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { transform: scale3d(var(--px-scale-md), var(--px-scale-md), var(--px-scale-md)); }
}

.px-scale-out {
  animation-name: px-scale-out;
}
