@keyframes px-zoom-out-left-pop {
  0% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { opacity: 0; transform: scale3d(var(--px-scale-pop), var(--px-scale-pop), var(--px-scale-pop)) translate3d(-var(--px-distance-md), 0, 0); }
}

.px-zoom-out-left-pop {
  animation-name: px-zoom-out-left-pop;
}
