@keyframes px-zoom-out {
  0% { opacity: 1; transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }
  100% { opacity: 0; transform: scale3d(var(--px-scale-md), var(--px-scale-md), var(--px-scale-md)); }
}

.px-zoom-out {
  animation-name: px-zoom-out;
}
